body {
  background-color: #05E393;
}
#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.div-title {
  margin: 0;
  text-align: center;
  color: white;
}

#editor-bar, #preview-bar {
  background-color: #026E47;
  height: 33px;
  padding: 0;
  margin: 0;
  width: 100%;
}

#editor-wrapper {
  min-width: 30%;
  margin: 20px;
  #editor {
    box-sizing: border-box;
    width: 100%;
    height: 85vh;
    resize: vertical;
    margin: 0;
    padding: 5px;
    background-color: lightgrey;
  }
}

#preview-wrapper {
  min-width: 30%;
  word-wrap: break-word;
  margin: 20px;
  border: 1px solid black;
  background-color: lightgrey;
  #preview {
    padding: 8px;
    code {
      background-color: white;
    }
    blockquote {
      background: #f0f8ff;
    }
  }
}

@media (max-width: 900px) {
  #wrapper {
    grid-template-columns: 1fr;
  }
}
